.main {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.profile-card {
    background: #ffffff;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.profile-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.15);
}

/* Profile Picture */
.profile-pic-container {
    position: relative;
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
}

.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #ff4b2b;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
}

.change-pic-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #ff4b2b;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.change-pic-btn:hover {
    background-color: #ff4b2b;
}

/* Profile Info */
.profile-info h2 {
    margin: 0;
    font-size: 2em;
    font-weight: 700;
    color: #ff4b2b;
}

.profile-info .email {
    margin: 5px 0 25px;
    color: #6c757d;
    font-size: 1.1em;
}

/* Profile Actions */
.profile-actions {
    display: flex;
    gap: 20px;
}

.edit-btn, .logout-btn {
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.edit-btn {
    background-color: #dc3545;
    color: #fff;
}

.edit-btn:hover {
    background-color: #333;
    transform: translateY(-3px);

     box-shadow: 0 6px 20px rgba(220, 53, 69, 0.3);
}

.logout-btn {
    background-color: #ff4b2b;
    color: #fff;
}

.logout-btn:hover {
    background-color: #a72e19;
    transform: translateY(-3px);

}
