/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


/* ===== Hero Section ===== */
.men-hero {
  /* height: 60vh;
  background: url('https://www.shoetree.io/cdn/shop/files/WEBISTE_1400.png?v=1760346823&width=1500') center/cover no-repeat; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  position: relative;
}

.men-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

.hero-content p {
  margin-top: 0.8rem;
  font-size: 1.1rem;
}

.shop-btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.7rem 1.8rem;
  background: #ff4b2b;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.shop-btn:hover {
  background: #e93e1b;
  transform: scale(1.05);
}

/* ===== Product Section ===== */
.product-section {
  padding: 3rem 5%;
  background: #fafafa;
  text-align: center;
}

.product-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.product-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  padding: 1rem;
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  height: 230px;
  object-fit: contain;
}

.product-card h3 {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #333;
}

.product-card p {
  color: #666;
  margin-top: 0.3rem;
}

.product-card button {
  margin-top: 0.8rem;
  background: #ff4b2b;
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}

.product-card button:hover {
  background: #e93e1b;
}

/* ===== Footer ===== */
footer {
  text-align: center;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.05);
  color: #555;
}
.pagination-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom:50px;
}
